<!--  -->
<nav class="container-fluid">
    <div class="row" id="navbar">
        <div class="col-12 col-md-2">
            <a href="/" class="navbar-brand primary-color flex-container logo">
                <div>
                    <i class="bi bi-box-seam"></i>
                    warehouse
                </div>
            </a>
        </div>
        <div class="col-12 col-md-8">
            <ul class="flex-container" id="menuContainer">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/purchases">Compras</a></li>
                <li class="nav-item"><a href="/pedidospendentes">Pedidos<span id="nPendentes">8</span></a></li>
                <li class="nav-item"><a href="#">Vendas</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-2 me-5">
            <div class="flex-container justify-content-center" id="logout">
                <a href="/logout">
                    <i class="bi bi-power light-color"></i>
                </a>
            </div>
        </div>
    </div>
</nav>